projetMap/projetMap-war/web/WEB-INF/wsdl/localhost_8080/UtilisateurWS/UserServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jax/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jax/" name="UserServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://jax/" schemaLocation="http://localhost:8080/UtilisateurWS/UserServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="ajouterUtilisateur">
<part name="parameters" element="tns:ajouterUtilisateur"/>
</message>
<message name="ajouterUtilisateurResponse">
<part name="parameters" element="tns:ajouterUtilisateurResponse"/>
</message>
<message name="utilisateurExiste">
<part name="parameters" element="tns:utilisateurExiste"/>
</message>
<message name="utilisateurExisteResponse">
<part name="parameters" element="tns:utilisateurExisteResponse"/>
</message>
<message name="getUtilisateur">
<part name="parameters" element="tns:getUtilisateur"/>
</message>
<message name="getUtilisateurResponse">
<part name="parameters" element="tns:getUtilisateurResponse"/>
</message>
<message name="emailUnique">
<part name="parameters" element="tns:emailUnique"/>
</message>
<message name="emailUniqueResponse">
<part name="parameters" element="tns:emailUniqueResponse"/>
</message>
<portType name="UserService">
<operation name="ajouterUtilisateur">
<input wsam:Action="http://jax/UserService/ajouterUtilisateurRequest" message="tns:ajouterUtilisateur"/>
<output wsam:Action="http://jax/UserService/ajouterUtilisateurResponse" message="tns:ajouterUtilisateurResponse"/>
</operation>
<operation name="utilisateurExiste">
<input wsam:Action="http://jax/UserService/utilisateurExisteRequest" message="tns:utilisateurExiste"/>
<output wsam:Action="http://jax/UserService/utilisateurExisteResponse" message="tns:utilisateurExisteResponse"/>
</operation>
<operation name="getUtilisateur">
<input wsam:Action="http://jax/UserService/getUtilisateurRequest" message="tns:getUtilisateur"/>
<output wsam:Action="http://jax/UserService/getUtilisateurResponse" message="tns:getUtilisateurResponse"/>
</operation>
<operation name="emailUnique">
<input wsam:Action="http://jax/UserService/emailUniqueRequest" message="tns:emailUnique"/>
<output wsam:Action="http://jax/UserService/emailUniqueResponse" message="tns:emailUniqueResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ajouterUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="utilisateurExiste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emailUnique">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserServiceService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/UtilisateurWS/UserServiceService"/>
</port>
</service>
</definitions>